body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header, footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
}

header {
    text-align: left;
    color: white; /* ヘッダー内の文字色を白に設定 */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: white; /* リンクの文字色を白に設定 */
    font-size: 1.2em;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid #ccc;
}

.product-left, .product-right {
    flex: 1;
    padding: 10px;
}

.product-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid black;
}

.product-left img {
    width: 100%;
    height: auto;
}

.product-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: sticky;
    top: 0;
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.product-right h1 {
    font-size: 2em;
}

.product-right h2 {
    font-size: 1.5em;
}

.product-right h3 {
    font-size: 1.2em;
}

.coming-soon-box {
    background-color: black;
    color: white;
    padding: 2px 30px;
    border: 2px solid black;
    text-align: center;
    font-size: 1em;
    width: 300px;
}

.product-description {
    text-align: left;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

footer p {
    margin-top: 10px;
}

.bottom-section {
    padding: 20px;
    text-align: left;
    background-color: black;
    color: white;
}

.bottom-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bottom-section ul li {
    margin-bottom: 10px;
}

.bottom-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }

    .product-left {
        border-right: none;
    }

    .product-right {
        position: static;
        height: auto;
        overflow: visible;
    }
}
.bottom-section .instagram-logo {
    max-width: 50px; /* ロゴの幅を調整 */
    height: auto; /* 高さは自動で調整 */
  }
  