@import url('https://fonts.googleapis.com/css2?family=Arial+Nova+Condensed&display=swap');

:root {
  --body-font-size: 1em; /* デフォルトのフォントサイズ */
  --top-section-font-size: 1.4em; /* topセクションのデフォルトフォントサイズ */
  --middle-section-font-size: 1.4em; /* middleセクションのデフォルトフォントサイズ */
  --text-section-font-size: 1.4em; /* textセクションのデフォルトフォントサイズ */
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  font-size: var(--body-font-size); /* フォントサイズを変数で指定 */

}

header {
  background-color: black;
  padding: 10px 0;
  display: flex;
  justify-content: center; /* 中央揃えに変更 */
  align-items: center;
  position: relative; /* 追加 */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .menu-icon {
  display: none; /* デフォルトで非表示 */
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-right: 20px; /* メニューアイコンの右側に余白を追加 */
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* 文字を左揃え */
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}



.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.top-section img {
  width: 80%;
  height: 50%;
  object-fit: contain;
}

.middle-section {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 5px;
  gap: 5px;
}

.middle-section .box {
  flex: 1 1 calc(50% - 15px);
  position: relative;
  background-size: cover;
  height: 50vh;
  background-position: center; /* 追加 */
  background-repeat: no-repeat; /* 追加 */
}

.middle-section .box a {
  display: block;
  width: 100%;
  height: 100%;
}

.middle-section .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
}

#box1 {
  background: url('../images/SHOP.png') no-repeat center center;
  background-size: 100% 100%; /* 追加 */
}

#box2 {
  background: url('../images/STORY.JPG') no-repeat center center;
  background-size: 100% 100%; /* 追加 */
}

#box3 {
  background: url('../images/ABOUT.PNG') no-repeat center center;
  background-size: 100% 100%; /* 追加 */
}

#box4 {
  background: url('../images/MEMBER.JPG') no-repeat center center;
  background-size: 100% 100%; /* 追加 */
}

.bottom-section {
  background-color: black; /* 背景色を黒に設定 */
  color: white; /* 文字色を白に設定 */
  padding: 20px;
  text-align: left;
}

.bottom-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bottom-section ul li {
  margin-bottom: 5px; /* 文字の上下の間隔を5pxに設定 */
}

.bottom-section ul li a {
  color: white; /* 文字色を白に設定 */
  text-decoration: none;
  font-size: 1.2em;
}

footer {
  background-color: white; /* 背景色を白に設定 */
  color: black; /* 文字色を黒に設定 */
  text-align: center;
  padding: 10px 0;
  font-size: 1em;
  text-decoration: underline; /* 追加: すべてのテキストにアンダーライン */
}
footer p {
  margin: 0;
  font-size: 1em;
}

@media (max-width: 768px) {
  header nav ul {
    display: block;
    text-align: left;
  }

  header nav ul li {
    display: block;
    margin: 10px 0;
  }

  .middle-section .box {
    flex: 1 1 100%;
    height: 50vh;
    background-size: contain; /* モバイルビューでの画像サイズを調整 */
  }

  header .menu-icon {
    display: block; /* モバイルビューで表示 */
  }

  header nav ul {
    display: none; /* 初期状態では非表示 */
  }

  header nav.active ul {
    display: block; /* メニューアイコンがクリックされたときに表示 */
  }
}

.member-section {
  position: absolute;
  bottom: 20px; /* 少し下げる */
  left: 10px; /* 左詰 */
  right: 10px; /* 右詰 */
  background: transparent; /* 背景を透明に */
  padding: 5px; /* 余白を少し小さく */
  color: white; /* テキストの色を白に */
  text-align: left; /* 左揃え */
}

.member-section input[type="email"] {
  width: calc(80% - 70px); /* ボタンの幅を考慮して調整 */
  padding: 5px; /* 余白を追加 */
  margin-bottom: 30px; /* 下部の余白を追加 */
  border: none; /* ボーダーをなしに */
  border-bottom: 2px solid white; /* 下に白いアンダーライン */
  border-radius: 0; /* 角を丸くしない */
  background: transparent; /* 背景を透明に */
  color: white; /* テキストの色を白に */
  font-size: 20px; /* フォントサイズを設定 */
}

.member-section input[type="email"]::placeholder {
  color: lightgray; /* プレースホルダーの色を薄い灰色に設定 */
}

.member-section input[type="email"]:focus::placeholder {
  color: transparent; /* フォーカス時にプレースホルダーを透明にする */
}

.member-section button {
  padding: 5px 10px; /* ボタンの余白を少なく */
  background: transparent; /* 背景を透明に */
  color: white; /* テキストの色を白に */
  border: none; /* ボーダーをなしに */
  font-size: 20px; /* フォントサイズを設定 */
  cursor: pointer; /* カーソルをポインターに */
  margin-left: 10px; /* ボタンを少し近づける */
}

.member-section button:hover {
  color: lightgray; /* ホバー時にテキストの色を薄い灰色に */
}

/* ハンバーガーメニューの初期状態 */
header nav ul.nav-links {
  display: flex;
}

header nav ul.nav-links.show {
  display: block; /* メニューが開いたときに表示 */
  position: absolute;
  top: 60px; /* headerの高さに合わせる */
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px 0;
}

/* ハンバーガーメニューのアイコンがモバイルで表示 */
@media (max-width: 768px) {
  header nav ul.nav-links {
    display: none; /* モバイルビューではデフォルトで非表示 */
  }

  header nav ul.nav-links.show {
    display: block; /* メニューアイコンがクリックされたときに表示 */
  }

  header .menu-icon {
    display: block; /* モバイルビューで表示 */
  }
}
.bottom-section .instagram-logo {
  max-width: 50px; /* ロゴの幅を調整 */
  height: auto; /* 高さは自動で調整 */
}